:root{
    --color-naranja:#48dbfb;
    --color-azul:#00367C;
    --paddind-inputs:10px 15px;
    --fuente:'Poppins', sans-serif;
    --tamano-modelos: 400px;
    --blanco:#FFFFFF;
    --gris-descripcion:#B3B3B3;
    --gris-oscuro:#444444;
    --gris-suave:#F7F7F7;
    /* --verde-hover:#117E4A; */
    --verde-hover:#1dd1a1;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
    /* font-family: 'Rubik', sans-serif; */
    font-size:16px;
    
    
}
.negroTransparente{
    background-color: rgba(0, 0, 0, 0.5);
    height: 30vh;
    width: 100vw;
    color: white;
    

}
.portadaFondo{
    background-image: url(../images/proyectos-portada.jpg);
    height: 30vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--gris-suave);
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}
.portada{
    height: 30vh;
    /* border: 1px solid red; */
    width: 100%;
    
}

   .cabeza{
    display: grid;
    grid-template: 100px / 20% 80%;
    grid-template-areas:'logo menu' 
                        ;

}

.imgContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    }
.imgContainer img{
    max-height: 100%;
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a{
    text-decoration: none;
    height: fit-content;
    padding: 1%;
    color: white;
}
.menu a:hover{
    background-color: var(--color-naranja);
    color: white;
    cursor: pointer;
}


.numeroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}
.numeroContainer:hover{
    cursor: pointer;  
}

.numeroContainer:hover > span{
    animation-name: bell;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: ease-out;
    font-size: 20px;
}
.numeroContainer a{
    text-decoration: none;
    color: white
}
.numeroContainer span{
    transform: rotateY(180deg);
    margin-left: 3px;
}
.relleno h1{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
}
.relleno{
    /* background-color: #F7F7F7; */
    height: 90px;
    text-align: center;
    padding-top: 40px;
}
.fondo{
    /* background-color: #F7F7F7; */
    font-size: 1em;
}
.descripcionProyectos{
    /* margin-top: 40px; */
    /* background-color: var(--blanco); */
    padding: 10px;
    /* border: solid; */
    /* box-shadow: 0px 0px 5px 2px  rgba(0, 0, 0, 0.05); */
    /* border-width: 0; */
    margin-bottom: 150px;
}
/*---------------------------------------------------- CUERPO DE LA PAGINA --------------------------------------------*/
.logosYTema{
    padding-top:100px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}
.logosYTema .imageContainer img{
    height:110px;
}
.tema{
    text-align: center;
}
.llamada{
    margin-top: 50px;
    margin-bottom: 20px;
}
.llamada a{
    color: blueviolet;
    text-decoration: none;
}
.llamada a:hover{
    /* font-size: 2em; */
    text-decoration: underline;
}

/*----------------------------------------------- FIN DEL CUERPO DE LA PAGINA --------------------------------------------*/


footer{
    background-color: #303030;
    color: #808080;
    padding: 15px;
    
}
.info{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.imgContainerPla img{
    width: 120px;
}
.distriDatos{
    display: flex;
    margin-top: 5px;
}
.distriDatos a{
    margin-left: 6px;
    color: #808080;
    text-decoration: none;
}
.distriDatos p{
    margin: 0;
    margin-left: 6px;
}
.distriDatos span{
    margin-top: 3px;
}
.facebook{
    font-size: 3em;
}
.facebook a{
    text-decoration: none;
    color: #808080;
}
.facebook:hover{
    font-size: 3.5em;
    transition: .2s all ease-in-out;

}
.facebook span:hover{
    color: white;
    cursor: pointer;
}
.whatsapp a{
    cursor: auto;
}
.burger-button{
    border-radius: 50%;
    background-color: rgba(72,219,251, 0.7);
    width: 40px;
    height: 40px;
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    left: 90%;
    top: 5px;
    color: white;
    
}
  
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1s;
  }
  
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: 1s;
  }
 
  
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

 
@keyframes bell{
    0%{
        transform:rotate(35deg);
    }
    12.5%{
        transform: rotate(-30deg);
    }
    25%{
        transform: rotate(25deg);
    }
    37.5%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(15deg);
    }
    62.5%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@media screen and (max-width:1440px) {
.info{
    max-width: 90vw;
}
.wrapper{
    max-width: 90vw;
}
}
@media screen and (max-width:1362px) {

}
@media screen and (max-width:1024px) {
body{
font-size: 14px;
}
  .wrapper{
    max-width: 90vw;
    margin: 0 auto;
    /* background-image: url('../images/portada3.jpg'); */
    }
    
.menu{
    padding-right: 4px;
    
}
.menu div{
    font-size: 15px;
    padding: 0%;
}
.menu a{
    font-size: 15px;
}


.info{
    width: 100vh;
}
.info p, .info a{
    font-size: 13px;
}
.facebook a{
    font-size: 35px;
}
}

@media screen and (max-width:900px) {
    .menu a .btn, .numeroContainer a{
        font-size: 0.9em;
    }
}

@media screen and (max-width:768px) {
.menu{
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 100vw;
    top: 0%;
    background-color: rgba(125,200,0, 0.9);
    /* background-color: rgba(29,209,161, 0.7); */
    width: 100vw;
    z-index: 1;
    font-weight: bold;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: .5s ;
    
    
    }
.numeroContainer{
    height: initial;
    width: auto;
}
.numeroContainer a{
    width: auto;
}
.menu div{
    font-size: 30px;
}
.btn{
    margin-bottom: 10px;
    color: white;
          
}

.menu a{
    color: white;
    font-size: 30px;
}
.menu span{
    color: white;
    font-size: 20px;
}
.burger-button{
    display: block;
    
}
.menu.is-active{
    left: 0;
}

.none{
    display: none;
}

.portada{
    /* border: 1px solid red; */
    width: 100%;
    /* position: relative; */
    height: 90vh;
}

.info{
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacto{
    padding-left: 10px;
}
.facebook a{
    font-size: 30px;
}

}
@media screen and (max-width:725px) {
    
}
@media screen and (max-width:695px) {
  
}
@media screen and (max-width:630px) {
    .logosYTema{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}


@media screen and (max-width:425px) {
 
   .burger-button{
       left: 85%;
   }
   .info{
       flex-wrap: wrap;
       justify-content: center;
   }
    
    
}
@media screen and (max-width:375px) {
    .menu a{
        color: white;
        font-size: 20px;
    }
    
}
@media screen and (max-width:320px) {
    body{
        font-size: 12px;
    }
}
@media screen and (max-width:280px) {
    body{
        font-size: 10px;
    }
}